1_bitwise/bitwise
2_array/array
3_pointer/pointer
4_struct/1_packed/struct_packed
4_struct/2_telephone_directory/telephone_directory
0_urn/enum_union_typedef_syntax
0_urn/preprocessor_directives
5_gdb/stack_frame
0_urn/guess_the_number
0_urn/sbrk_func
0_urn/malloc_calloc_realloc
0_urn/alloca
6_dunamic_memory/dyn_mem_telephone_directory
0_urn/asm
0_urn/asm.c
